@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Regular.eot");
    src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ProximaNova-Regular.woff2") format("woff2"),
        url("../fonts/ProximaNova-Regular.woff") format("woff"),
        url("../fonts/ProximaNova-Regular.ttf") format("truetype"),
        url("../fonts/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Museo Sans Cyrl";
    src: url("../fonts/MuseoSansCyrl-900.eot");
    src: url("../fonts/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"),
        url("../fonts/MuseoSansCyrl-900.woff2") format("woff2"),
        url("../fonts/MuseoSansCyrl-900.woff") format("woff"),
        url("../fonts/MuseoSansCyrl-900.ttf") format("truetype"),
        url("../fonts/MuseoSansCyrl-900.svg#MuseoSansCyrl-900") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Museo Sans Cyrl";
    src: url("../fonts/MuseoSansCyrl-700.eot");
    src: url("../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"),
        url("../fonts/MuseoSansCyrl-700.woff2") format("woff2"),
        url("../fonts/MuseoSansCyrl-700.woff") format("woff"),
        url("../fonts/MuseoSansCyrl-700.ttf") format("truetype"),
        url("../fonts/MuseoSansCyrl-700.svg#MuseoSansCyrl-700") format("svg");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Museo Sans Cyrl";
    src: url("../fonts/MuseoSansCyrl-500.eot");
    src: url("../fonts/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"),
        url("../fonts/MuseoSansCyrl-500.woff2") format("woff2"),
        url("../fonts/MuseoSansCyrl-500.woff") format("woff"),
        url("../fonts/MuseoSansCyrl-500.ttf") format("truetype"),
        url("../fonts/MuseoSansCyrl-500.svg#MuseoSansCyrl-500") format("svg");
    font-weight: normal;
    font-style: normal;
}


/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    color: #000000;
    font-size: 13px;
    line-height: 21px;
}


html,
body {
    min-height: 100%;
    min-width: 100%;
}

body {
    font-size: 15px;
    line-height: 20px;
    color: #333333;
    background: rgb(249, 247, 252);
}

.wrapper {
    min-height: 100%;
    min-width: 100%;
    position: relative;
    z-index: 2;
}

.content {
    position: relative;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
}


.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}
.clearfix {display: block;}

* html .clearfix             { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }



::-webkit-input-placeholder {color:#a5abb8;}
::-moz-placeholder          {color:#a5abb8;}
:-moz-placeholder           {color:#a5abb8;}
:-ms-input-placeholder      {color:#a5abb8;}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
}


*::-ms-expand { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

textarea {
    resize: none;
    overflow: auto;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

.animation-delay-onload {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

.animation-delay {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
    animation-delay: .3s;
}

/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {
    position: relative;
    padding: 52px 0;
}

h1 {
    font-family: "Museo Sans Cyrl", Arial, Verdana, sans-serif;
    font-size: 40px;
    line-height: 44px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

h2 {
    font-family: "Museo Sans Cyrl", Arial, Verdana, sans-serif;
    font-size: 40px;
    line-height: 44px;
    font-weight: bold;
    color: #3b362c;
    text-align: center;
}

h3 {
/*    font-family: "Museo Sans Cyrl", Arial, Verdana, sans-serif;
    font-size: 22px;
    list-style: 24px;
    font-weight: bold;
    color: #282727;*/
}

h4 {
    font-family: "Museo Sans Cyrl", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 23px;
    font-weight: normal;
    color: #2a2a2a;
}

p {
    font-family: "Proxima Nova", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    color: #666666;
}

li {
    list-style: none;
    font-family: "Proxima Nova", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    color: #666666;
    padding: 2px 0
}


ol.mark-list li {
    display: table;
    width: 100%;
    margin: 9px 0;
}

ol.mark-list li:before {
    display: table-cell;
    vertical-align: top;
    content: "";
    width: 26px;
    height: 12px;
    background-image: url(../img/list_mark.png);
    background-position: center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    font-family: "Proxima Nova", Arial, Verdana, sans-serif;
    font-size: 18px;
    list-style: 22px;
    font-weight: normal;
    color: #4a951a;
}

a:link,
a:visited {
    text-decoration: none;
}

a.active,
a:active {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

img {
    outline: none;
    border: 1px solid transparent;
    border: none;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

/*-------------------------*/

.slick-dots {
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    vertical-align: top;
    margin: 4px 8px;
    cursor: pointer;
}

.slick-dots li button {
    display: block;
    width: 10px;
    height: 10px;
    cursor: pointer;
    font-size: 0;
    line-height: 0;
    border: 1px solid transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}


.slick-dots li.slick-active button {
    background: rgb(56,185,19);
    background: -moz-linear-gradient(top, rgba(56,185,19,1) 0%, rgba(41,137,3,1) 100%);
    background: -webkit-linear-gradient(top, rgba(56,185,19,1) 0%,rgba(41,137,3,1) 100%);
    background: linear-gradient(to bottom, rgba(56,185,19,1) 0%,rgba(41,137,3,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38b913', endColorstr='#298903',GradientType=0 );
}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    padding: 0;
    max-width: 1180px;
    margin: 0 auto;
}

.offset-ziro {
    font-size: 0;
    line-height: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}


/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

.header-site {
    background: rgb(255, 255, 255, 1);
    position: relative;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-site:before {
    display: block;
    content: "";
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/bottom_shape_bg.png);
    background-repeat: repeat-x;

    -webkit-transition-property: top;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: top;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: top;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: top;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: top;
    transition-duration: .3s;
    transition-timing-function: ease;

}

.header-site .row {
    display: block;
    width: 100%;
    min-height: 200px;
    position: relative;
    z-index: 2;
    padding: 18px 0 0 0;
    background-image: url(../img/header_site_bg_inner.png);
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;

    -webkit-transition-property: height, padding, background-position;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: height, padding, background-position;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: height, padding, background-position;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: height, padding, background-position;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: height, padding, background-position;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.header-site .col {
    display: inline-block;
    vertical-align: top;
}

.header-site .col-1 {
    width: 38%;
    padding: 0 0 0 16%;
}

.header-site .col-2 {
    width: 24%;
}

.header-site .col-3 {
    width: 38%;
    padding: 0 15% 0 0;
}

.tel-block {

}

.tel-block p {
    font-family: "Museo Sans Cyrl", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    color: #0a0a0a;
    padding: 8px 0;

    -webkit-transition-property: padding;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: padding;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: padding;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: padding;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: padding;
    transition-duration: .3s;
    transition-timing-function: ease;

}

.tel-block p {
    padding-left: 25px;
}

.tel-block p.tel-p {
    padding-left: 0;
}


.tel-icon {
    display: inline-block;
    vertical-align: top;
    width: 19px;
    height: 19px;
    background-image: url(../img/phone_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.tel-block .tel-icon {
    margin: 3px 6px 0 0;
}

.tel-block a.tel-link {
    display: inline-block;
    vertical-align: top;
    font-family: "Museo Sans Cyrl", Arial, Verdana, sans-serif;
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    color: #0a0a0a;

    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.tel-block a.tel-link:link,
.tel-block a.tel-link:visited {
    color: #0a0a0a;
}

.tel-block a.tel-link:active,
.tel-block a.tel-link.active {
    color: #4a951a;
}

.tel-block a.tel-link:hover {
    color: #4a951a;
}

.tel-block .tel-link span {
    font-weight: normal;
}

.logo-box {
    width: 100%;
}

.logo-box .logo {
    display: block;
    width: 201px;
    height: 100px;
    margin: 0 auto;

    -webkit-transition-property: width, height;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: width, height;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: width, height;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: width, height;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: width, height;
    transition-duration: .3s;
    transition-timing-function: ease;

}

.logo-box .logo-img {
    display: block;
    width: 100%;
    height: auto;
}

.callback-form {
    text-align: center;
}

.input-block {
    display: inline-block;
    vertical-align: top;
    /*width: 100%;*/
    min-width: 220px;
    height: 38px;
    margin: 5px 0;
    overflow: hidden;
    background: rgba(255, 255, 255, 1);
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;

    -webkit-transition-property: margin;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: margin;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: margin;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: margin;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: margin;
    transition-duration: .3s;
    transition-timing-function: ease;

}

.input-block input {
    display: block;
    width: 100%;
    height: 38px;
    background: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 3px 4% 5px 4%;
    border: 1px solid transparent;
    font-family: "Museo Sans Cyrl", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: normal;
    color: #2a2a2a;
}

.submit-block {
    margin: 5px 0;
}

.submit-btn {
    display: inline-block;
    vertical-align: top;
    min-width: 220px;
    cursor: pointer;
    text-align: center;
    background: rgba(106, 174, 7, 1);
    font-family: "Museo Sans Cyrl", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 38px;
    font-weight: normal;
    color: #ffffff;
    border: 1px solid transparent;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;

    -webkit-transition-property: background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.submit-btn:link,
.submit-btn:visited {
    background: rgba(106, 174, 7, 1);
}

.submit-btn:active,
.submit-btn.active {
    background: rgba(89, 147, 3, 1);
}

.submit-btn:hover {
    background: rgba(89, 147, 3, 1);
}

.header-site.fixed {

}

.header-site.fixed:before {
    top: -62px;
}

.header-site.fixed .row {
    min-height: 132px;
    padding: 2px 0 0 0;
    background-position: center -45px;
}

.header-site.fixed .tel-block p {
    padding: 2px 0;
}

.header-site.fixed .logo-box .logo {
    width: 165px;
    height: 82px;
}

.header-site.fixed .input-block {
    margin: 0;
}

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

/*-- Section 1 Main Page --*/

.promo-section-box {
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 1690px;
}

.promo-section-box:after {
    display: block;
    content: "";
    width: 100%;
    max-width: 1690px;
    height: 200px;
    position: absolute;
    bottom: -150px;
    left: 0;
    background-image: url(../img/promo_sect_bg.png);
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
}

.promo-section {
    background: rgba(255, 255, 255, 1);
    padding: 195px 20px 20px 20px;
    position: relative;
    z-index: 2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
}

.main-slider-header {
    padding: 30px 0 46px 0;
}

.main-slider-dots-append {
    display: inline-block;
    vertical-align: middle;
    width: 43%;
}

.main-slider-arows-append {
    display: inline-block;
    vertical-align: middle;
    width: 37%;
    text-align: center;
    padding: 11px 0 0 0;
}

.main-slider-arows-append .inner {
    display: inline-block;
    vertical-align: top;
    width: 90%;
    position: relative;
}

.main-slider-arows-append {
    position: relative;
}

.main-slider-btn {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    text-align: right;
}

.slide-append-descript {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 74%;
}

.slide-append-descript p {
    font-family: "Proxima Nova", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
    color: #000000;
}

.next-sl-btn {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
    min-width: 160px;
    font-family: "Museo Sans Cyrl", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 38px;
    font-weight: 700;
    color: #ffffff;
    padding: 5px 2%;
    border: 1px solid transparent;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
    background: rgb(56,185,19);
    background: -moz-linear-gradient(top, rgba(56,185,19,1) 0%, rgba(41,137,3,1) 100%);
    background: -webkit-linear-gradient(top, rgba(56,185,19,1) 0%,rgba(41,137,3,1) 100%);
    background: linear-gradient(to bottom, rgba(56,185,19,1) 0%,rgba(41,137,3,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38b913', endColorstr='#298903',GradientType=0 );

    -webkit-transition-property: box-shadow;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: box-shadow;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: box-shadow;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: box-shadow;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: box-shadow;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.next-sl-btn:hover {
    -webkit-box-shadow: 0 5px 10px 0 rgba(47, 153, 8, .3);
    -moz-box-shadow: 0 5px 10px 0 rgba(47, 153, 8, .3);
    box-shadow: 0 5px 10px 0 rgba(47, 153, 8, .3);
}

.main-slider {
    height: 710px;
    overflow: hidden;
}

.main-slider .slide img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.main-slider .slide img.desktop-img {
    display: block;
}

.main-slider .slide img.resp-img {
    display: none;
}

.main-slider .slide-descript {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    z-index: -1;
    overflow: hidden;
    font-family: "Proxima Nova", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
    color: #000000;
}

.main-slider-dots-append .slick-dots {
    position: relative;
}

.main-slider-dots-append .slick-dots li {
    display: inline-block;
    vertical-align: top;
    width: 70px;
    height: 70px;
    margin: 10px 5%;
    padding: 7px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    background: rgba(255, 255, 255, 1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 1px dashed #a9a9a9;
}

.main-slider-dots-append .slick-dots:before {
    display: block;
    content: "";
    height: 1px;
    width: 84%;
    position: absolute;
    top: 50%;
    left: 4%;
    border-bottom: 1px dashed #a9a9a9;
}

.main-slider-dots-append .slick-dots li:nth-child(1) {
    margin: 10px 8% 10px 0 !important;
}

.main-slider-dots-append .slick-dots li button {
    display: block;
    width: 54px;
    height: 54px;
    cursor: pointer;
    font-family: "Museo Sans Cyrl", Arial, Verdana, sans-serif;
    font-size: 24px;
    line-height: 54px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    border: 1px solid transparent;
    background: rgba(220, 220, 220, 1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.main-slider-dots-append .slick-dots li.slick-active button {
    background: rgb(56,185,19);
    background: -moz-linear-gradient(top, rgba(56,185,19,1) 0%, rgba(41,137,3,1) 100%);
    background: -webkit-linear-gradient(top, rgba(56,185,19,1) 0%,rgba(41,137,3,1) 100%);
    background: linear-gradient(to bottom, rgba(56,185,19,1) 0%,rgba(41,137,3,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38b913', endColorstr='#298903',GradientType=0 );
}

.main-slider-arows-append .slick-arrow {
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin: -8px 0 0 0;
    overflow: hidden;
    background: transparent;
    border: 1px solid transparent;
}

.main-slider-arows-append .slick-arrow:hover:after {
    color: #33a90e;
}

.main-slider-arows-append .slick-prev {
    left: 0;
}

.main-slider-arows-append .slick-next {
    right: 0;
}

.main-slider-arows-append .slick-prev:after {
    content: "\f100";
}

.main-slider-arows-append .slick-next:after {
    content: "\f101";   
}

.main-slider-arows-append .slick-arrow:after {
    display: block;
    font-family: 'FontAwesome';
    font-size: 24px;
    line-height: 24px;
    font-weight: normal;
    color: #9d9d9d;
    position: relative;
    top: -6px;

    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;

}

.main-slider-arows-append  .slick-arrow img {
    display: none;
}


/*-- /Section 1 Main Page --*/

/*-- Section 2 Main Page --*/

/* Tabs */

.tabs-sect {
    padding-bottom: 0;
    position: relative;
    z-index: 2;
}

.tabs {
    margin-bottom: -50px;
    padding: 30px 0 0 0;
    position: relative;
}

.tabs-wrapp {
    
}

.tab-nav-block {
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 2;
}

.tab-nav {
    display: table;
    width: 100%;
    position: relative;
    z-index: 2;
}

.tab-nav li {
    display: table-cell;
    vertical-align: top;
}

.tab-nav li button {
    display: table-cell;
    vertical-align: middle;
    border: 1px solid transparent;
    background: transparent;
    position: relative;
    cursor: pointer;
    padding: 3px 1% 19px 1%;
    font-family: "Museo Sans Cyrl", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: normal;
    color: #777777;
}

.tab-nav li button:hover,
.tab-nav li button.active {
    color: #4a951a;
}

.tab-nav li button:after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -2px;
    left: 0;
    border-bottom: 1px solid transparent;
}

.tab-nav li button.active:after {
    border-bottom: 1px solid #4a951a;
}

.tab-nav li button .tab-link-num {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin: 0 7px 0 0;
    position: relative;
    top: -2px;
    background: rgba(234, 233, 231, 1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    font-family: "Museo Sans Cyrl", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
    color: #777777;
}

.tab-nav li button:hover .tab-link-num,
.tab-nav li button.active .tab-link-num {
    color: #ffffff;
    background: rgb(56,185,19);
    background: -moz-linear-gradient(top, rgba(56,185,19,1) 0%, rgba(41,137,3,1) 100%);
    background: -webkit-linear-gradient(top, rgba(56,185,19,1) 0%,rgba(41,137,3,1) 100%);
    background: linear-gradient(to bottom, rgba(56,185,19,1) 0%,rgba(41,137,3,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38b913', endColorstr='#298903',GradientType=0 );
}

.tab {

}

.tabs-content-box {
    background: rgba(255, 255, 255, 1);
    padding: 0 3%;
    position: relative;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
}

.tabs-content-box:before {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: -2px;
    left: 0;
    border-top: 1px solid #ededed;
}

.tab-content {
    padding: 20px 0;
}

.tab-photo-col {
    width: 50%;
}

.tab-content .left {
    width: 50%;
    padding: 13px 2% 10px 0;
}

.tab-photo-col .img-box {
    display: block;
    width: 100%;
    height: 356px;
    overflow: hidden;
}

.tab-content h2 {
    font-family: "Museo Sans Cyrl", Arial, Verdana, sans-serif;
    font-size: 30px;
    line-height: 40px;
    font-weight: 900;
    color: #777777;
    text-align: left;
    background: -webkit-linear-gradient(#37b813, #2a8b04);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tab-content .price {

}

.tab-content p.price  {
    font-family: "Museo Sans Cyrl", Arial, Verdana, sans-serif;
    font-size: 25px;
    line-height: 35px;
    font-weight: bold;
    color: #000000;
}

.tab-content p.price.small {
    font-size: 20px;
}

.tab-content p.price  {
    font-family: "Museo Sans Cyrl", Arial, Verdana, sans-serif;
    font-size: 25px;
    line-height: 35px;
    font-weight: bold;
    color: #000000;
    padding: 3px 0 10px 0;
}

.tab-content p {
    font-family: "Proxima Nova", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
    color: #666666;
    padding: 5px 0;
}

.tab-content ol:before {
    display: block;
    content: "";
    width: 47px;
    height: 2px;
    margin: 7px 0 12px 0;
    background: rgb(58, 193, 22); 
}


/* /Tabs */

/*-- /Section 2 Main Page --*/

/*-- Section 3 Main Page --*/

.advantages-sect {
    position: relative;
    background-image: url(../img/advantages_bg.jpg);
    background-position: center;
    background-size: cover;
}

.advantages-sect:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .4);
}

.advantages-bg {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.advantages-sect .row {
    position: relative;
    z-index: 2;
}

.advantages-thumbnails {
    padding: 80px 0 0 0;
    text-align: center;
}

.advantages-thumbnails .thumbnail {
    display: inline-block;
    vertical-align: top;
    width: 326px;
    padding: 31px 5px;
}

.advantages-thumbnails .inner {
    display: table;
    width: 100%;
    text-align: left;
}

.advantages-thumbnails .col {
    display: table-cell;
    vertical-align: middle;
}

.advantages-thumbnails .col-1 {
    width: 127px;
}

.advantages-thumbnails .col-2 {

}

.advantages-thumbnails .circle {
    display: block;
    width: 100px;
    height: 100px;
    padding: 8px;
    border: 1px dashed #6aae07;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.green-circle {
    display: block;
    width: 84px;
    height: 84px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background: rgb(56,185,19);
    background: -moz-linear-gradient(top, rgba(56,185,19,1) 0%, rgba(41,137,3,1) 100%);
    background: -webkit-linear-gradient(top, rgba(56,185,19,1) 0%,rgba(41,137,3,1) 100%);
    background: linear-gradient(to bottom, rgba(56,185,19,1) 0%,rgba(41,137,3,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38b913', endColorstr='#298903',GradientType=0 );
}

.advantage-icon {
    display: block;
    width: 100%;
    height: 84px;
    background-image: url(../img/advantages_sprite.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.advantage-icon.icon-1 {
    background-position: 0 9px;
}

.advantage-icon.icon-2 {
    background-position: -104px 8px;
}

.advantage-icon.icon-3 {
    background-position: -327px 8px;
}

.advantage-icon.icon-4 {
    background-position: -216px 11px;
}

.advantage-icon.icon-5 {
    background-position: -425px 12px;
}

.advantages-thumbnails p.p-1 {
    font-family: "Museo Sans Cyrl", Arial, Verdana, sans-serif;
    font-size: 48px;
    line-height: 70px;
    font-weight: bold;
    color: #ffffff;
}

.advantages-thumbnails p.p-1 span {
    font-size: 24px;
    line-height: 55px;
}

.advantages-thumbnails p {
    font-family: "Proxima Nova", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    color: #ffffff;
}

/*-- /Section 3 Main Page --*/

/*-- Section 4 Main Page --*/

.catalog-sect {
    background-image: url(../img/catalog_bg.jpg);
    background-repeat: repeat;
    padding: 40px 0;
    position: relative;
    z-index: 5;
}

.three-form-cols {

}

.three-form-cols .col {
    display: inline-block;
    vertical-align: middle;
    padding: 0 1%;
}

.three-form-cols .col-1 {
    width: 38%;
}

.three-form-cols .col-2 {
    width: 29%;
    text-align: right;
}

.three-form-cols .col-3 {
    width: 31%;
    position: relative;
    text-align: center;
}

.book-img-col {
    position: relative;
}

.book-img-col .book-img {
    display: block;
    width: auto;
    height: auto;
    margin: auto;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
}

.three-form-cols .col-2 h2 {
    font-family: "Museo Sans Cyrl", Arial, Verdana, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    color: #3b372c;
    text-align: right;
    padding: 5px 0;
}

.three-form-cols .col-2 p {
    font-family: "Proxima Nova", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    color: #3b372c;
    text-align: right;
    padding: 6px 0;
}

.free {
    display: block;
    width: 116px;
    height: 116px;
    background: rgba(83, 155, 35, 1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    border: 4px solid #ffffff;
    -webkit-box-shadow: 0px 17px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 17px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 17px 10px 0px rgba(0,0,0,0.1);
}

.free p {
    font-family: "Museo Sans Cyrl", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 108px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
}

.three-form-cols .col-3 .free {
    position: absolute;
    top: -109px;
    right: 0;
    -webkit-transform: rotate(-17deg);
    -moz-transform: rotate(-17deg);
    -ms-transform: rotate(-17deg);
    -o-transform: rotate(-17deg);
    transform: rotate(-17deg);
}

.three-form-cols .input-block,
.three-form-cols .submit-block .submit-btn {
    min-width: 302px;
    padding: 5px 2%;
    height: 50px;
}

/*-- /Section 4 Main Page --*/


/*-- Section 5 Main Page --*/

.portfolio-sect {
    position: relative;
    margin-bottom: -80px;
    padding: 64px 0 0 0;
    position: relative;
    z-index: 4;
}

.portfolio-sect:before {
    display: block;
    content: "";
    width: 100%;
    height: 110px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/bottom_shape_bg.png);
    background-position: center -91px;
    background-repeat: repeat-x;
}

.portfolio-slider-box {
    background: rgba(255, 255, 255, 1);
    margin: 30px 0 0 0;
    padding: 50px 4%;
    position: relative;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
}

.portfolio-slider-big {
    /*height: 420px;*/
}

.portfolio-slider-big .slide {
    font-size: 0;
    line-height: 0;
}

.portfolio-slider-big .slide .col {
    display: inline-block;
    vertical-align: top;
}

.portfolio-slider-big .slide .col-1 {
    width: 64%;
}

.portfolio-slider-big .slide .col-2 {
    height: 36%;
    padding: 20px 0 0 0;
}

.big-photo {
    display: block;
    width: 100%;
    max-width: 610px;
    height: 420px;
}

.big-photo img {
    display: block;
    min-width: 100%;
    min-height: 100%;
}

.portfolio-slider-big .slide h3 {
    font-family: "Museo Sans Cyrl", Arial, Verdana, sans-serif;
    font-size: 30px;
    line-height: 40px;
    font-weight: 900;
    color: #777777;
    text-align: left;
    padding: 0 0 2px 0;
    background: -webkit-linear-gradient(#37b813, #2a8b04);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.portfolio-slider-big .slide p.price {
    font-family: "Museo Sans Cyrl", Arial, Verdana, sans-serif;
    font-size: 30px;
    list-style: 35px;
    font-weight: bold;
    color: #000000;
    padding: 7px 0;
}

.portfolio-slider-big .slide p.price i {
    font-size: 27px;
}

.slick-arrow {
    height: 60px;
    width: 60px;
    border: 1px solid transparent;
    cursor: pointer;
    z-index: 3;
    background: rgb(56,185,19);
    background: -moz-linear-gradient(top, rgba(56,185,19,1) 0%, rgba(41,137,3,1) 100%);
    background: -webkit-linear-gradient(top, rgba(56,185,19,1) 0%,rgba(41,137,3,1) 100%);
    background: linear-gradient(to bottom, rgba(56,185,19,1) 0%,rgba(41,137,3,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38b913', endColorstr='#298903',GradientType=0 );
}

.slick-arrow img {
    display: block;
    width: 30px;
    height: 30px;
}

.slick-prev {
    -webkit-border-radius: 30px 0 0 30px;
    -moz-border-radius: 30px 0 0 30px;
    -ms-border-radius: 30px 0 0 30px;
    -o-border-radius: 30px 0 0 30px;
    border-radius: 30px 0 0 30px;
}

.slick-prev img {
    position: relative;
    left: 16px;
}

.slick-next {
    -webkit-border-radius: 0 30px 30px 0;
    -moz-border-radius: 0 30px 30px 0;
    -ms-border-radius: 0 30px 30px 0;
    -o-border-radius: 0 30px 30px 0;
    border-radius: 0 30px 30px 0;
}

.slick-next img {
    position: relative;
    left: 12px;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    margin: -30px 0 0 0;
}

.slick-prev {
    left: -60px;
}

.slick-next {
    right: -60px;
}

.miniature {
    display: block;
    width: 64%;
    max-width: 610px;
    text-align: center;
    margin: 10px 0;
}

.miniature .slide {

}

.miniature .slide.slick-current {
    
}

.miniature .slide .img-box {
    width: 80px;
    height: 68px;
    padding: 8px;
    cursor: pointer;
    background: rgba(255, 255, 255, 1);
    border: 2px solid transparent;    
    overflow: hidden;
}

.miniature .slide .img-box {
    border: 2px solid #d9d6ce;
}

.miniature .slide .img-box > div {
    display: block;
    width: 60px;
    height: 48px;
    overflow: hidden;
}

.miniature .slide .img-box > div img {
    display: block;
    min-width: 100%;
    min-height: 100%;
}

.portfolio-slider-pagination {
    padding: 26px 0 23px 0;
}

/*-- /Section 5 Main Page --*/


/*-- Section 6 Main Page --*/

.section-6 {
    display: block;
    min-height: 100vh;
}

.section-6:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, .4);
}

.section-6 .row {
    position: relative;
    z-index: 3;
}

.video-controll-bg {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.video-controll {
    display: table;
    width: 100%;
    min-height: 100vh;
}

.left-block {
    position: absolute;
    top: 38px;
    left: 3%;
}

.rec-icon {
    display: inline-block;
    vertical-align: top;
    width: 10px;
    height: 10px;
    background: rgba(201, 24, 24, 1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.left-block .rec-icon {
    margin: 5px 15px 0 0;
}

.center-block .left-block p {
    display: block;
    width: auto;
    padding: 14px 0;
    font-family: "Proxima Nova", Arial, Verdana, sans-serif;
    font-size: 22px;
    line-height: 23px;
    font-weight: normal;
    color: #c91818;
}

.left-block p.red {
    color: #c91818;
}

.left-block p.green {
    color: #23a70d;
}

.stream-icon {
    display: inline-block;
    vertical-align: top;
    width: 10px;
    height: 13px;
    background-image: url(../img/stream_icon.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.left-block .stream-icon {
    margin: 5px 15px 0 0;
}


.video-controll .center-block {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.center-block .inner {
    display: table;
    width: 100%;
    max-height: 560px;
    height: 100vh;
    position: relative;
    text-align: center;
}

.center-block .inner-cell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.center-block .icon-box {
    width: 100%;
    height: 120px;
}

.center-block .icon-box img {
    display: block;
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.center-block  h2 {
    font-family: "Museo Sans Cyrl", Arial, Verdana, sans-serif;
    font-size: 40px;
    line-height: 45px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px 0;
}

.center-block p {
    display: inline-block;
    vertical-align: top;
    max-width: 500px;
    font-family: "Proxima Nova", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: normal;
    color: #ffffff;
}

.top-shape {
    display: block;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.top-shape span:nth-child(1) {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
}

.top-shape span:nth-child(2) {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
}

.bottom-shape {
    display: block;
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.bottom-shape span:nth-child(1) {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
}

.bottom-shape span:nth-child(2) {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
}


/*-- /Section 6 Main Page --*/


/*-- Section 7 Main Page --*/

.team-slider-sect {
    padding: 0;
    margin: -80px 0;
    position: relative;
    z-index: 2;
}

.team-slider-wrapp {
    background: rgba(255, 255, 255, 1);
    padding: 50px 0 19px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
}

.team-slider-box {

}

.team-slider .slick-arrow {
    margin: -63px 0 0 0;
}

.team-slider {
    display: block;
    margin: 35px auto;
}

.team-slider .slick-dots {
    padding: 46px 0 0 0;
}

.team-slider .slide {
    text-align: center;
}

.team-slider .slide .img-box {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 200px;
    margin: 15px 0;
    overflow: hidden;
    background: rgba(255, 255, 255, 1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.team-slider .slide img  {
    display: block;
    min-width: 100%;
    min-height: 100%;
}

.team-slider .slide h3 {
    font-family: "Museo Sans Cyrl", Arial, Verdana, sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
    color: #282727;
    padding: 5px 0;
}

.team-slider .slide p {
    font-family: "Proxima Nova", Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: #4e545d;
    text-transform: uppercase;
    padding: 2px 0;
}


/*-- /Section 7 Main Page --*/

/*-- Section 8 Main Page --*/

.promo-code-sect {
    position: relative;
    padding: 149px 0;
}

.promo_code-bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.promo-code-sect h2 {
    color: #ffffff;
}

.promo-code-sect .row {
    position: relative;
    z-index: 2;
}

.discount-block {
    display: block;
    max-width: 820px;
    margin: 0 auto;
}

.discount-block .col {
    /*display: inline-block;
    vertical-align: top;*/
}

.discount-block .col-1 {
    width: 56%;
}

.discount-block .col-2 {
    width: 44%;
}

.promo-card {
    display: block;
    max-width: 438px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 1);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    padding: 20px;
}

.clear-block {
    height: 110px;
    border: 1px solid red;
    position: relative;
}

.disc-val {
    display: block;
    width: 100%;
    height: 110px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    border: 1px solid transparent;
    background: rgba(255, 255, 255, 1);
    font-family: "Museo Sans Cyrl", Arial, Verdana, sans-serif;
    font-size: 80px;
    line-height: 86px;
    font-weight: bold;
    color: #000000;
    padding: 5px 0;
}

.promo-box {
    height: 110px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.promo-card p {
    display: block;
    font-family: "Proxima Nova", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: normal;
    color: #3b372c;
    padding: 0 12%;
    text-align: center;
}

.discount-block .submit-btn {
    border: 1px solid transparent;
    background: transparent;
    color: #ffffff;
}

.discount-block .input-block {
    min-width: 300px;
    height: 58px;
    margin: 10px 0;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}

.discount-block .input-block input {
    height: 58px;
    font-size: 18px;
    line-height: 51px;
}

.discount-block .submit-btn {
    min-width: 300px;
    margin: 14px 0;
}

.discount-block-descript {
    font-family: "Proxima Nova", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
}

/*-- /Section 8 Main Page --*/
 
/*-- Section 9 Main Page --*/

.map-section {
    padding: 0;
    position: relative;
    height: 100vh;
    max-height: 670px;
}

#map {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.contacts-header {
    display: table;
    margin: 0 auto;
    padding: 18px 2%;
    width: 64%;
    max-width: 750px;
    position: relative;
    z-index: 2;
    background: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 25px 25px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 25px 25px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 25px 25px 0 rgba(0, 0, 0, .1);
}

.contacts-header .col {
    display: table-cell;
    vertical-align: middle;
}

.contacts-header .col-1 {
    width: 56%;
}

.contacts-header .col-2 {
    width: 44%;
}

.contacts-header h2 {
    font-family: "Museo Sans Cyrl", Arial, Verdana, sans-serif;
    font-size: 40px;
    line-height: 46px;
    font-weight: bold;
    color: #1a1a1a;
}

.contacts-header .adress {
    display: inline-table;
    width: 100%;
    padding: 12px 0;
    border: 1px dashed #6aae07;
}

.contacts-header .adress p {
    font-family: "Proxima Nova", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: normal;
    color: #1a1a1a;
}

.adress-col {
    display: table-cell;
    vertical-align: middle;
}

.adress-col-1 {
    width: 80px;
    text-align: center;
}

.adress-col-2 {
    width: auto;
}

.fa-map-marker {
    display: inline-block;
    vertical-align: top;
    width: 38px;
    height: 38px;
    text-align: center;
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background: rgb(56,185,19);
    background: -moz-linear-gradient(top, rgba(56,185,19,1) 0%, rgba(41,137,3,1) 100%);
    background: -webkit-linear-gradient(top, rgba(56,185,19,1) 0%,rgba(41,137,3,1) 100%);
    background: linear-gradient(to bottom, rgba(56,185,19,1) 0%,rgba(41,137,3,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38b913', endColorstr='#298903',GradientType=0 );
}

.fa-map-marker:before {
    content: "\f041";
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
}

/*-- /Section 9 Main Page --*/

/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
}

.footer {
    padding: 31px 0 28px 0;
}

.footer .col {
    display: inline-block;
    vertical-align: middle;
    padding: 16px 1%;
}

.footer .col-1 {
    width: 25%; 
}

.footer .col-2 {
    width: 56%;
}

.footer .col-3 {
    width: 19%;
    text-align: right;
}

.footer h4 {
    padding: 0 0 0 6%;
}

/*.footer .tel-block p {
    line-height: 22px;
}*/

.footer .form-block {
    padding: 5px 0;
}

.footer .form-block .input-block {
    min-width: 240px;
    height: 50px;
    margin: 10px 10px;
    background: rgba(249, 249, 249, 2);
    border: 1px solid #e5e5e5;
}

.footer .form-block .submit-block {
    margin: 10px 10px;
}

.footer .form-block .input-block input {
    height: 50px;
    background: rgba(249, 249, 249, 2);
    padding: 3px 4% 6px 4%;
    font-size: 18px;
    line-height: 48px;
}

.footer .form-block .submit-btn {
    min-width: 100%;
    font-size: 18px;
    line-height: 46px;
}

.footer .col-3 h4 {
    font-family: "Museo Sans Cyrl", Arial, Verdana, sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    color: #0a0a0a;
}

.socials {
    padding: 6px 0;
}

.socials li {
    display: inline-block;
    vertical-align: top;
    padding: 6px;
}

.socials li a  {
    display: block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.socials li a img {
    width: auto;
    height: auto;
}


/*-- Popups --*/

.popups-sect {
    /*display: block;*/
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 14;
}

.popup-bg {
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .8);
}

.popup {
    /*display: block;*/
    display: none;
    width: 80%;
    position: relative;
    max-width: 450px;
    margin: 30px auto;
    padding: 25px 2%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .3);
}

.close-popup-btn {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: -30px;
    right: -30px;
    border: 1px solid transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background: rgb(56,185,19);
    background: -moz-linear-gradient(top, rgba(56,185,19,1) 0%, rgba(41,137,3,1) 100%);
    background: -webkit-linear-gradient(top, rgba(56,185,19,1) 0%,rgba(41,137,3,1) 100%);
    background: linear-gradient(to bottom, rgba(56,185,19,1) 0%,rgba(41,137,3,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38b913', endColorstr='#298903',GradientType=0 );
}

.close-popup-btn i {
    font-size: 35px;
    line-height: 38px;
    color: #ffffff;
}

.popup .callback-form {
    width: 98%;
    margin: 0 auto;
}

.popup .callback-form .input-block {
    width: 100%;
}

.popup .callback-form .submit-block {
    width: 100%;
}

.popup .callback-form .submit-btn {
    width: 100%;
}

/*-- /Popups --*/